.tiger-banner{
	width: 100%;
	position: absolute;
	z-index: 0;
}

.text-overlay{
	display: block;
	position: relative;
       z-index: 1;
	padding: 5px;
	bottom: 10%;
       color: #FFFFFF;
       font-weight: bold;

}
.tiger-banner-container{
position: absolute;
width: 100%;
height: auto;
}

.tiger{
width: 100%;
height: auto;
}
