/* Navigation.css */
.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 400px;
      padding-top: 500px;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: fixed; /* Set position to fixed to start from the top */
    width: 100%; /* Take up full width of the viewport */
    top: 0; /* Stick to the top of the viewport */
    z-index: 100; /* Ensure it's above other content */
}

.navigation-banner{
padding-top: 1%;
padding-bottom: 1%;
}

.logo-container 
{
    margin-bottom: 30px;
    text-align: center;
}

.logo {
    width: 80px; /* Adjust the width as needed */
    height: auto;
}

.navigation-items {
    display: flex; /* Display navigation items in a row */
    justify-content: center; /* Center navigation items horizontally */
    margin-top: 10px; /* Add margin to separate logo and navigation items */
}

.navigation-item {
    margin: 0 20px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.navigation-item::before,
.navigation-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    left: 0;
    right: 0;
    bottom: 0; /* Adjust position of the lower line */
}

.navigation-item::before {
    top: 0; /* Adjust position of the upper line */
}

.navigation-item:hover::before,
.navigation-item:hover::after {
    transform: scaleX(0);
}

